@model TechChallenge.Models.Person

<table class="table">
    <tr class="form-group">
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr class="form-group">
        <td>@Html.DisplayFor(model => model.Currency)</td>
    </tr>
</table>